h1 {
    color: white;
    background: red;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

h3 {
    color: white;
    background: green;
    font-size: 18px;
}

ul {
    background: orange;
    font-size: 18px;
}